html {
    overflow-x: hidden;
}

header {
	height: 350px;
	background-color: hsl(34, 100%, 50%);
    margin-bottom: 50px;
    padding-top: 50px;
}

#header-text {
    text-align: center;
    margin-bottom: 80px;
}

#header-buttons {
    margin-left: 20%;
    margin-right: 20%;
}

#selection-title {
    text-align: center;
    margin-bottom: 50px;
}

#root {
    margin-left: 20%;
    margin-right: 20%;
}

#root p {
    font-size: 8px;
}

#more-button {
    margin-bottom: 30px;
}

#newsletter {
    text-align: center;
}

#form-newsletter {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 70px;
}

#nl-form {
 margin-bottom: 20px;
}
#nl-button {
    text-align: center;
}

footer {
    height: 175px;
    text-align: center;
    background-color: hsl(34, 100%, 50%);
}

footer #footer-text {
    padding-top: 50px;
}